<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${book.getTitle()}+' details page'"></title>
</head>
<body>
<p th:text="'Title: '+${book.getTitle()}"></p>
<p th:text="'Author: '+${book.getAuthor()}"></p>
<p th:text="'ISBN: '+${book.getIsbn()}"></p>
<p th:text="'Publisher: '+${book.getPublisher()}"></p>
<p th:text="'Genre: '+${book.getGenre()}"></p>
<p th:text="'Publication date: '+${#temporals.format(book.getPublicationDate(),'dd MMM yyyy')}"></p>
<br>
<h2>Are you sure you want to delete above book</h2>
<form method="post" th:action="@{/admin/delete/{id}(id=${id})}">
  <input type="submit" name="Yes">
</form>
<a th:href="@{/admin}"><button>No</button></a>

</body>
</html>